/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/phpmyadmin
/public/build
/storage/*.key
/storage/**
/vendor
/.idea
/.vscode
/.vagrant
/.tests
/upload/**
Homestead.json
Homestead.yaml
package-lock.json
composer.lock
*.log
.env
.editorconfig
nic
